@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Poppins&display=swap');

a:hover {
    color: cadetblue;
}

a:link {
    color: burlywood;
}

a:active {
    color: darkslategrey;
}

body {
    font-family: 'Baloo Bhai 2', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 1em;
}

.head {
    margin: 0 auto;
    font-size: 1.2em;
    /* Adjust the font size as needed */
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style: none;
    margin: 0 2em;
    font-size: 1.2em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9em;
    /* Adjust the font size as needed */
}

header nav ul li a:hover {
    color: orange;
}

header nav ul li a:link {
    color: white;
}

header nav ul li a:active {
    color: white;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Poppins&display=swap');

a:hover {
    color: cadetblue;
}

a:link {
    color: burlywood;
}

a:active {
    color: darkslategrey;
}

body {
    font-family: 'Baloo Bhai 2', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 1em;
}

.head {
    margin: 0 auto;
    font-size: 1.2em;
    /* Adjust the font size as needed */
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style: none;
    margin: 0 2em;
    font-size: 1.2em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9em;
    /* Adjust the font size as needed */
}

header nav ul li a:hover {
    color: orange;
}

header nav ul li a:link {
    color: white;
}

header nav ul li a:active {
    color: white;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
}

footer {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 12;
    position: fixed;
    bottom: 0;
    width: 100%;
}

code {
    padding: 10px;
    margin: 10px;
    display: block;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
}

output {
    padding: 10px;
    margin: 10px;
    display: block;
    background-color: #f3f4f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* sidenav */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(65, 64, 64);
    overflow-x: hidden;
}

.sidenav h2 {
    color: white;
    text-align: center;
    /* background-color: rgb(187, 181, 175); */
    padding: 4px 14px;
    border-radius: 12px;
    font-size: xx-large;
}

.sidenav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.sidenav ul li a:hover {
    color: orange;
}

.sidenav ul li a:link {
    color: white;
}

.sidenav ul li a:active {
    color: white;
}

.sidenav ul li {
    list-style: none;
}

@media only screen and (max-width: 768px) {
    header nav ul {
        display: block;
        text-align: center;
    }
    
    header nav ul li {
        margin: 0.5em 0;
        font-size: 1.1em;
    }
    
    header nav ul li a {
        font-size: 0.9em;
    }

    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
}


code {
    padding: 10px;
    margin: 10px;
    display: block;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
}

output {
    padding: 10px;
    margin: 10px;
    display: block;
    background-color: #f3f4f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* sidenav */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(65, 64, 64);
    overflow-x: hidden;
}

.sidenav h2 {
    color: white;
    text-align: center;
    /* background-color: rgb(187, 181, 175); */
    padding: 4px 14px;
    border-radius: 12px;
    font-size: xx-large;
}

.sidenav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.sidenav ul li a:hover {
    color: orange;
}

.sidenav ul li a:link {
    color: white;
}

.sidenav ul li a:active {
    color: white;
}

.sidenav ul li {
    list-style: none;
}

@media only screen and (max-width: 768px) {

    header nav ul {
        display: flex;
        justify-content: center;
    }
    
    header nav ul li {
        list-style: none;
        margin: 0.3em;
        font-size: 1.1em;
    }
    
    header nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.9em;
        /* Adjust the font size as needed */
    }

    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
}
